body {
    font-family: 'Arial', serif;
    margin: 40px auto;
    width: 100%;
    max-width: 600px;
    background-color: var(--escuro);
}

:root {
    --primaria: #4f46e5;
    --escuro: #0f172a;
}

h1 {
    color: var(--primaria);
}

.container{
    width: 600px;
    padding: 20px;
    background-color: #f2f2f2;
    text-align: center;
    border-radius: 30px;
}

form {
    display: flex;
    gap: 8px;
    flex-wrap: nowrap;
    flex-direction: column;
    margin-bottom: 20px;
}

input, button, select {
    padding: 8px;
}

li {
    margin-bottom: 6px;
}

.estilo-filtro {
    margin-bottom: 20px;
    text-align: center;
    border-radius: 20px;
 }
