body {
    font-family: Arial, sans-serif;
    margin: 40px auto;
    width: 100%;
    max-width: 600px;
}

.container{
    width: 600px;
    padding: 20px;
    background-color: #f2f2f2;
    text-align: center;
    border-radius: 30px;
}

form {
    display: flex;
    gap: 8px;
    flex-wrap: nowrap;
    flex-direction: column;
    margin-bottom: 20px;
}

input, button, select {
    padding: 8px;
}

li {
    margin-bottom: 6px;
}